<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/socket.io/socket.io.js"></script>
    <script src="jquery.min.js"></script>
    <script src="handle.js"></script>
    <title>Document</title>
</head>

<body>
    <div id="formDangNhap">
        <input type="text" name="hehe" id="edtEmail" placeholder="Nhập email" value="messi@gmail.com">
        <input type="password" name="mumu" id="edtPassword" placeholder="Nhập password" value="123">
        <button id="btnDangNhap">Đăng nhập</button>
    </div>
    <div id="formDangXuat">
        <button id="btnDangXuat">Đăng xuất</button>
        <ul id="lvUser">
            <li>Ronaldo</li>
            <li>Messi</li>
        </ul>
        <button id="btnThem">Thêm phần tử</button>
    </div>
</body>

</html>